.item {
  background-color: var(--color-tertiary);
  padding: 3.2rem 2rem;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.taskTitle {
  font-size: inherit;
}

.numSubTasks {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color-secondary);
}

.taskDesc {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  color: var(--text-color-secondary);
  line-height: 1.5;
  font-weight: 500;
}

.subtaskList {
  margin: 1.6rem 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.subtask {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 500;
  color: var(--text-color-secondary);
}

.line {
  height: 100%;
  width: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.changeStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.changeStatus {
  font-size: 1.4rem;
}

.change {
  border: var(--border-primary);
  padding: 0.6rem;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: var(--color-tertiary);
  color: var(--text-color-primary);
}

.change:focus {
  outline: none;
}

.deleteBtn {
  align-self: flex-end;
}

@media screen and (max-width: 64em) {
  .taskTitle {
    font-size: 1.4rem;
    display: block;
    line-height: 1.4;
  }

  .taskDesc {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 48em) {
  .item {
    padding: 2.4rem;
  }
}

@media screen and (max-width: 48em) {
  .changeStatus {
    font-size: 1.2rem;
  }
}
