.plannerBox {
  padding: 3.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  position: relative;
}

@media screen and (max-width: 48em) {
  .plannerBox {
    padding: 2.4rem;
    gap: 2.4rem;
  }
}
