.plannerHeader {
  padding: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-tertiary);
  border-bottom: var(--border-primary);
}

.plannerHeader p {
  font-size: 2.8rem;
  font-weight: 700;
}

@media screen and (max-width: 64em) {
  .plannerHeader {
    padding: 2.4rem;
  }

  .plannerHeader p {
    font-size: 2.4rem;
  }
}
