.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 9.6rem;
}

.taskForm {
  border-radius: 8px;
  margin: 0 auto;
  max-width: 56rem;
  padding: 3.2rem;
  background-color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.taskFormHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskForm h2 {
  font-size: 1.8rem;
}

.closeBtn {
  border: none;
  cursor: pointer;
  font-size: 3.2rem;
  background-color: transparent;
}

.taskForm button {
  width: 100%;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.taskForm label {
  font-size: 1.4rem;
  color: var(--text-color-primary);
  font-weight: 500;
}

.taskForm input,
.taskForm textarea {
  border-radius: 4px;
  color: var(--text-color-primary);
  width: 100%;
  display: block;
  padding: 8px 1.2rem;
  font-family: "Manrope", sans-serif;
  background-color: var(--color-tertiary);
  outline: none;
  border: 1px solid rgb(64, 59, 71);
}

.taskForm select {
  background-color: transparent;
  border: 1px solid rgb(64, 59, 71);
  border-radius: 4px;
  padding: 8px 1.2rem;
  color: var(--text-color-primary);
}

.taskForm select:focus {
  outline: none;
}

.taskForm textarea {
  resize: none;
}
